.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock p:last-child {
  font-size: 30px;
  font-weight: bold;
}
.clock p{
  font-size:30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
  border: 1px solid black;
  width: 25rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn{
  height: 60px;
  width: 70px;
  border-radius: 60%;
  background-color:greenyellow ;
  border: none;
  cursor: pointer;
  outline: none;
}